mcdreforged

# bot - minecraft_data_api
hjson
parse
fastapi

# prime_backup
psutil
pytz
xxhash
SQLAlchemy
APScheduler
zstandard
pathspec

# mcdr_plugin_manager
requests

# info
#psutil
py-cpuinfo

# prcr
cryptography
pynbt
redbaron
colorlog
ruamel.yaml
