mcdreforged

# bot - minecraft_data_api
hjson
parse

# prime_backup
psutil
pytz
xxhash
SQLAlchemy
APScheduler
zstandard

# mcdr_plugin_manager
requests

# info
#psutil
py-cpuinfo

# prcr
cryptography
pynbt
redbaron
colorlog
ruamel.yaml
